<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>upload data</title>
    <link rel="stylesheet" href="./css/admin.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">

</head>

<body>
    <!-- <div id="password-screen" class="password-overlay">
        <div class="password-container">
            <h2>Nhập mật khẩu để truy cập</h2>
            <input type="password" id="password-input" placeholder="Nhập mật khẩu">
            <button onclick="verify()">Xác nhận</button>
            <p id="error-message"></p>
        </div>
    </div> -->
    <div class="main-screen">
        <h1>Manager</h1>

        <div id="inputmail">
            <textarea id="input-mail" rows="14" placeholder="email|pass|token|cliend_id" wrap="soft"></textarea>
            <div class="button-container">
                <button id="but" class="save">Save</button>
            </div>
        </div>

    </div>

    <script src="js/admin.js"></script>
</body>