<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete</title>
    <link rel="stylesheet" href="../css/delete.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">

</head>
<style>

</style>

<body>
    <h2>Delete email</h2>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Email</th>
                <th>Action</th>
            </tr>
        </thead>

        <%mails.forEach(mail=>{%>
            <tr>
                <td>
                    <%=mail.id%>
                </td>
                <td>
                    <%=mail.mail%>
                </td>
                <td>
                    <button class="delete" data-id='<%=mail.id%>'>delete</button>
                </td>
            </tr>
            <%})%>
                <script src="../js/delete.js"></script>
</body>

</html>